# Домашнее задание к лекции "Функции и работа с данными"

Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [29]:
import pandas as pd

data = pd.read_csv('/Users/tatianafrolova/Downloads/ml-latest-small/ratings.csv')


def get_rating_type(rating):
    #print(rating)
    if rating >= 4.5:
        return 'высокий рейтинг'
    elif 4.5 > rating >= 2:
        return 'средний рейтинг'
    else:
        return 'низкий рейтинг'




data['class'] = data['rating'].apply(get_rating_type)
data[:5]

   userId  movieId  rating  timestamp            class
0       1        1     4.0  964982703  средний рейтинг
1       1        3     4.0  964981247  средний рейтинг
2       1        6     4.0  964982224  средний рейтинг
3       1       47     5.0  964983815  высокий рейтинг
4       1       50     5.0  964982931  высокий рейтинг

Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [35]:
import pandas as pd
data = pd.read_csv('/Volumes/Samsung_T5/Обучение/Питон/Python_11_functions_groupby/keywords.csv')

geo_data = {'Центр': ['москва', 'тула', 'ярославль'],'Северо-Запад': ['петербург', 'псков', 'мурманск'],'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}


def determ_region(word): 
    cur_region = 'undefined'
    for key,x in geo_data.items():
        if word in x: cur_region = key
    return cur_region        
    

def get_region(keyword):
    
    w = keyword.split(' ')
    for i in range(len(w)):
        reg = determ_region(w[i])
        if reg != 'undefined':
            return reg
 
    return 'undefined'


data['region'] = data['keyword'].apply(get_region)

data[ (data.region != 'undefined' )].head()

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад

Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:
В переменную years запишите список из всех годов с 1950 по 2010.
Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [136]:
import pandas as pd
import re

data_ratings = pd.read_csv('/Users/tatianafrolova/Downloads/ml-latest-small/ratings.csv')
data_movies = pd.read_csv('/Users/tatianafrolova/Downloads/ml-latest-small/movies.csv')

data_ratings[:5]
data_movies[:150]



def production_year(row):

    res = re.findall('\((\d{4})\)', row['title'])

    if res: 
        return(res[0])
    else: 
        return('1900')
    

def groupby_function(data):
    return data.sum() / data.count()
    
    

data_movies['year'] = data_movies.apply(production_year, axis = 1)
full_data = data_ratings.merge(data_movies, how = 'left', left_on='movieId', right_on='movieId')
full_data.groupby('year')['rating'].apply(groupby_function)

year
1900    3.638889
1902    3.500000
1903    2.500000
1908    4.000000
1915    2.000000
1916    3.600000
1917    4.500000
1919    2.000000
1920    3.812500
1921    4.100000
1922    3.531250
1923    3.642857
1924    3.583333
1925    3.789474
1926    4.000000
1927    3.689655
1928    3.653846
1929    3.833333
1930    4.205882
1931    3.605263
1932    3.333333
1933    3.730769
1934    4.088235
1935    3.967391
1936    3.528302
1937    3.660870
1938    3.767857
1939    3.763682
1940    3.818386
1941    3.895939
          ...
1989    3.463061
1990    3.427310
1991    3.552265
1992    3.354943
1993    3.452152
1994    3.500944
1995    3.443848
1996    3.335329
1997    3.347241
1998    3.427186
1999    3.498677
2000    3.398899
2001    3.482243
2002    3.414607
2003    3.462321
2004    3.507227
2005    3.359888
2006    3.498452
2007    3.522433
2008    3.528126
2009    3.568966
2010    3.569096
2011    3.460764
2012    3.512626
2013    3.457119
2014    3.512879
2015    3.410386
2016    3.387261
2017    3.578091
2018    3.483516
Name: rating, Length: 107, dtype: float64